/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* ====Global ====*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
header {
    width: 100vw;
    height: 100vh;
    position: relative;           
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    overflow:hidden;              
}

/*  BLURRED BACKGROUND IMAGE */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('./backgroundimage.jpg');
    background-position: center;
    background-size: cover;

    filter: blur(5px) brightness(80%);
    transform: scale(1.1);        /* prevents sharp edges */
    z-index: -1;                  /* keeps blur behind text */
    pointer-events: none;
}


.header-content{
    font-family: Ariel, sans-serif;
    font-size: clamp(24px, 5vw, 40px);
    font-weight: 800;
    color:whitesmoke;
    line-height: 1;
    text-shadow: 0 2px 8px rgb(0, 0,0,0.6);
    
}
.header-content p{
    font-size:4vmin;
}
.header-content h1{
    font-size: clamp(40px, 10vw,120px);
    
    
}
@media (max-width: 768px){
    header{
        padding-left: 20px;
        text-align: center;
        justify-content: center;
    }
    .header-content{
        line-height: 1.2;
    }
    .ctn{
        padding: 12px 40px;
        font-size: 18px;
    }
}
.ctn{
  background-color: hsl(1, 93%, 42%);   /* bright red */
  color: whitesmoke;                /* text color */
  padding: 10px 50%;
  display: block;
  margin: 50px auto; 
  border: none;
  border-radius: 30px;         /* rounded shape */
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  
}
.menu-toggle{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.Navbar{
  width: 100%;
  height:80px;
  position: fixed;
  top:0;
  left: 0;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background: rgba(43, 15, 15, 0.6);
  backdrop-filter: blur(4px);
}
/*moble Navbar*/
@media(max-width:768px){
    .nav-links{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgb(43, 15,15, 0.95);
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }
    .nav-links.active{
        display: flex;
    }
    .menu-toggle{
        display:block;
    }
}

.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 800;
    color:whitesmoke;
    letter-spacing: 2px;
    
}
.nav-links{
    flex: 2;
    display: flex;
    justify-content: center;
    list-style: none;
    /*display: flex;*/
    gap: 50px;
}
@media (max-width: 768px){
    .nav-links{
        display: none;
    }
}

.nav-links li a{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}
.nav-links li a:hover {
    color: hsl(1, 93%, 42%);  /* red hover color */
}
.about{
    width:100%;
    padding:40px 10%;
    background: #fff;
    text-align: center;
}
.about h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #321010;
    margin-top: 20px;
    text-align: center;
}
.about p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    max-width: 800px;
    margin: 0 auto 40px auto;
    color: rgb(156, 154, 154);
    line-height: 1.6;
}
/*Sub section(safe and loving)*/
.about-section{
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 245, 245, 0.8);
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}
.about-section h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size:28px;
    color:#8b1c1c;
    margin-bottom: 20px;
}
.about-section p{
    font-size: 20px;
    color: rgb(156, 154, 154);
    
}
.about p, .about-section p{
    font-size: clamp(16px,4vw,22px);
}
/*age section box*/
.age-groups, .Program1 {
    max-width: 500px 500px;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 20px;
    background: rgba(248, 245, 245, 0.8);
    box-shadow: 0 4px 14px rgba(8, 8, 8, 0.1);
    text-align: center;
}
/*Responsive for smaller screens*/
@media(max-width:768px){
    .age-groups,.about-section{
        max-width: 90%;
        padding: 20px 20px;
    }
}
/*age section h2*/
.age-groups, .Program1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #321010;
    margin-top: 20px;
    text-align: center;
}
.age-groups h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(235, 15, 15);
    text-align: center;
}
/*image/Gallery section*/
.gallery{
    padding: 10px 20px;
    text-align: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:15px;
    margin-top:20px;
}
.images img{
    width:100%;
    height: 240px;
    aspect-ratio: 4 / 3; 
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgb(0, 0, 0,0.2);
    transition: transform .3s ease;
}
.images img:hover{
    transform: scale(1.05);
}
@media(max-width:600px){
    .images{
        gap:10px;
         grid-template-columns: 1fr;
    }
}
/*contact section*/
.contact-us{
    padding: 60px 5%;
    background: #f9f9f9;
    text-align: center;
}

/*contact us h2*/
.contact-us h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #321010;
    margin: 30px;
    text-align: center;
}
/*.contact-info p{
    font-size: 22px;
    color: #555;
    margin-bottom: 10px;
}*/

.contact-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    margin: 40px auto;
    max-width: 1000px;
    padding: 0 20px;
}


.contact-card{
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.contact-card:hover{
    transform: translateY(-5px);
}

.contact-card i{
    font-size: 40px;
    color: hsl(1, 93%, 42%);
    margin-bottom: 15px;
}

.contact-card p{
    font-size: 18px;
    color: #555;
}
@media (max-width: 600px){
    .contact-cards{
        grid-template-columns: 1fr;
    }

    .contact-card{
        max-width: 350px;
        margin: 0 auto;
    }
}

.map-wrapper{
    width: 100vw;               
    margin-left: calc(-50vw + 50%);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.map-container{
    width: 100%;
    max-width: 1400px;          
    padding: 0 5%;
}

.map-container iframe{
    width: 100%;
    height: 600px;              
    border: 0;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.footer{
    background: #321010;
    color: whitesmoke;
    text-align: center;
    padding: 30px 10px;
    font-size: 16px;
}
.social-icons{
    margin-top: 15px;
}

.social-icons a{
    color: whitesmoke;
    margin: 0 10px;
    font-size: 22px;
    transition: color 0.3s;
}

.social-icons a:hover{
    color: hsl(1, 93%, 42%);
}


